/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/admin_assets/assets/media
public/admin_assets/assets/plugins
public_html/admin_assets/assets/media
public_html/admin_assets/assets/plugins
public_html/oldbakp
public/uploads/slides
public/uploads/boxes
public/uploads/careers