
@font-face {
  font-family: '29LTBukra-Medium';
  src: url('29LTBukra-Medium.eot?#iefix') format('embedded-opentype'),  url('29LTBukra-Medium.otf')  format('opentype'),
	     url('29LTBukra-Medium.woff') format('woff'), url('29LTBukra-Medium.ttf')  format('truetype'), url('29LTBukra-Medium.svg#29LTBukra-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
