
@font-face {
  font-family: '29LTBukra-Regular';
  src: url('29LTBukra-Regular.eot?#iefix') format('embedded-opentype'),  url('29LTBukra-Regular.woff') format('woff'), url('29LTBukra-Regular.ttf')  format('truetype'), url('29LTBukra-Regular.svg#29LTBukra-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
